.container-form{
    display: grid;
    grid-template: 40px 40px / 1fr 1fr;
    gap: 1rem;
    padding: 50px;
    font-family:  apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
}

.form-input{
    border-radius: 5px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-indent: 5px;
    border: 1px solid #D5D4D8;

}
.generate-btn{
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    grid-column-start: 1;
    grid-column-end: 3;
    font-weight: bold;
    color: white;
    background: linear-gradient(90deg,#5d047d 1.18%, rgb(190, 139, 208) 98.82%);
    border: none;
    border-radius: 5px;
    border: 1px solid #D5D4D8;
    cursor: pointer;
    
}
.meme {
    position: relative;
}

.meme--image {
    max-width: 100%;
    border-radius: 3px;
    position: absolute;
}
.meme--text {
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 2em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000, 
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}

.bottom {
    bottom: 0;
}

.top {
    top: 0;
}